i.icon {
    font-size: 2em;
}

div#notHome {
    position: relative;
    top: 5em;
}

div.container.main
{
    position: relative;
    top: 1em;
}

p.footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.0rem;            /* Footer height */
}

.ui.items>.item a {
    margin-top: 1.0em;
}

.ui.button {
    margin-top: 1.0em;
}

#date {
    font-size: small;
}

div.content {
    margin-bottom: 1.0em;
}

img {
    width: 50%;
}

#delete {
    display: inline;
}